body{
    background-color: #87CEFA;
}
h1{
    text-align: center;
    padding-top: 160px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    text-align: center;
    font-size: 18px;
}